<div>
  <h3>OnPush Change Detection</h3>
  <p><b>Text:</b> {{ text }}</p>
  <p><b>List passed</b></p>
  <span class="list-li" *ngFor="let item of arr">{{ item }}</span>
</div>
<button class="btn btn-blue mt-1" (click)="detectChanges()">
  Detect Changes
</button>
