.task-section {
  display: flex;
}
.task-section > * {
  flex: 1;
  flex-grow: 1;
}
.title {
  font-size: 1.25rem;
  font-weight: 400;
  padding: 0 0 16px 0;
}
.task-buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 16px;
}
